In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as sk

In [66]:
# import relavent data

artists = pd.DataFrame.from_csv('mode/mode_artists_left_join.csv',index_col=None)
wiki = pd.DataFrame.from_csv('wikipedia/DailyWikiStats_disambiguation_2010_15.csv',index_col=None)
npr = pd.DataFrame.from_csv('npr/npr_shows_from_billboard_2010_15.csv',index_col='show_id')
#concerts = pd.DataFrame.from_csv('seatgeek/SeatGeek_events_from_billboard_2010_15.csv',index_col='id')
#venues = pd.DataFrame.from_csv('seatgeek/SeatGeek_venues_from_billboard_2010_15.csv',index_col='id')
concerts = pd.DataFrame.from_csv('songkick/songkick_events_2010_15.csv',index_col='id')
bill = pd.DataFrame.from_csv('billboard/BillboardData_mod_2000.csv',index_col='id')

In [67]:
print artists.keys()
artists.head()

Index([u'artist_name', u'artist_name_clean', u'artist_name_dash', u'artist_name_query', u'artist_name_underscore', u'sg_artist_id', u'event_count', u'genres', u'sg_type', u'sg_artist_score', u'nbs_id', u'mbz_id', u'mbz_type', u'isni_list', u'country', u'area', u'begin_area', u'life_span_begin', u'genre1', u'genre2', u'genre3', u'genre4', u'genre5'], dtype='object')

,artist_name,artist_name_clean,artist_name_dash,artist_name_query,artist_name_underscore,sg_artist_id,event_count,genres,sg_type,sg_artist_score,...,isni_list,country,area,begin_area,life_span_begin,genre1,genre2,genre3,genre4,genre5
0,Zach Sobiech,Zach Sobiech,zach-sobiech,zach+sobiech,zach_sobiech,160111,0,NaN,band,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Soulja Boy Tell'em,Soulja Boy Tell'em,soulja-boy-tell'em,soulja+boy+tell'em,soulja_boy_tell'em,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Austin Mahone,Austin Mahone,austin-mahone,austin+mahone,austin_mahone,12596,2,NaN,band,0.66274,...,NaN,US,United States,San Antonio,1996-04-04T00:00:00,RB,Pop,NaN,NaN,NaN
3,Britney Spears,Britney Spears,britney-spears,britney+spears,britney_spears,376,39,pop,band,0.68469,...,0000000109898265,US,United States,McComb,1981-12-02T00:00:00,Pop,NaN,NaN,NaN,NaN
4,Diggy,Diggy,diggy,diggy,diggy,28294,0,hip-hop,band,0.31305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
wiki.head()

,date,search_term,Artist,artist_name_clean_x,Language,PageViews,ambiguous
0,2010-01-01 00:00:00,the_1975,"1975, The",The 1975,en,0,False
1,2010-01-02 00:00:00,the_1975,"1975, The",The 1975,en,0,False
2,2010-01-03 00:00:00,the_1975,"1975, The",The 1975,en,0,False
3,2010-01-04 00:00:00,the_1975,"1975, The",The 1975,en,0,False
4,2010-01-05 00:00:00,the_1975,"1975, The",The 1975,en,0,False

In [69]:
npr.tail()

,artist,artist_id,title,show,storyDate,pubDate,lastModifiedDate,link
show_id,,,,,,,,
359406863,Annie Lennox,16219258,Annie Lennox On World Cafe,World Cafe,2014-10-28 14:53:00,2014-12-08 23:16:00,2014-12-08 23:16:52,http://www.npr.org/sections/world-cafe/2014/10...
357622310,Annie Lennox,16219258,'You Cannot Go Back': Annie Lennox On 'Nostalgia',Music Interviews,2014-10-21 06:00:00,2014-10-21 19:08:00,2014-10-21 19:08:33,http://www.npr.org/2014/10/20/357622310/you-ca...
132259127,Annie Lennox,16219258,Music Icon Annie Lennox Belts Songs Of Christm...,Holiday Music,2010-12-23 17:00:00,2010-12-23 20:05:00,2010-12-23 20:05:05,http://www.npr.org/2010/12/23/132259127/music-...
15963705,Annie Lennox,16219258,The Best CDs of 2003: Listeners' Picks,All Songs Considered,2003-12-23 17:00:00,2012-12-12 16:25:00,2012-12-12 16:25:21,http://www.npr.org/templates/story/story.php?s...
15111080,Kid Rock,15325309,Band of Horses to 'Begin' Again,Music Articles,2007-10-09 11:00:00,2012-12-12 16:20:00,2012-12-12 16:20:37,http://www.npr.org/templates/story/story.php?s...

In [70]:
print concerts.keys()
concerts.head()

Index([u'mbz_id', u'artist_name', u'event_name', u'type', u'popularity', u'city', u'lat', u'lng', u'venue_name', u'country', u'state', u'artist_id', u'billing', u'billingIndex', u'date', u'datetime', u'time'], dtype='object')

,mbz_id,artist_name,event_name,type,popularity,city,lat,lng,venue_name,country,state,artist_id,billing,billingIndex,date,datetime,time
id,,,,,,,,,,,,,,,,,
10327278,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at Texas Outback Bar & Grill (Se...,Concert,0.013323,"Helsinki, Finland",60.175600,24.934200,NaN,NaN,NaN,19885623,headline,1,2011-09-14 00:00:00,NaN,NaN
10329148,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at Canada Games Arena (September...,Concert,0.013323,"Grande Prairie, AB, Canada",55.171200,-118.795000,Canada Games Arena,Canada,AB,19890008,headline,1,2011-09-15 00:00:00,NaN,NaN
10327283,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,"Austin Mahone at Canada (September 16, 2011)",Concert,0.013323,"Toronto, ON, Canada",43.666700,-79.416700,Canada,Canada,ON,19885628,headline,1,2011-09-16 00:00:00,NaN,NaN
10329923,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,"Austin Mahone at New York (September 16, 2011)",Concert,0.013323,"Augusta, GA, US",33.457400,-81.995000,New York,US,GA,19891683,headline,1,2011-09-16 00:00:00,NaN,NaN
10368608,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at The Standard Hotel - New York...,Concert,0.013323,"New York, NY, US",40.740876,-74.007821,The Standard Hotel - New York City,US,NY,19978103,headline,1,2011-09-29 00:00:00,NaN,NaN

In [71]:
bill.head()

,year,yearly_rank,source,prefix,ch,x40,x10,pk,high,verified,...,x82nd_week,x83rd_week,x84th_week,x85th_week,x86th_week,x87th_week,x88th_week,x89th_week,x90th_week,x91st_week
id,,,,,,,,,,,,,,,,,,,,,
10112,2000,1,y,2000_001,28,25,17,11,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33870,2000,2,y,2000_002,26,24,18,10,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33975,2000,3,y,2000_003,33,28,17,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25621,2000,4,y,2000_004,24,22,12,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8017,2000,5,y,2000_005,21,16,8,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# restrict billboard to anything entering starting 2010
bill2010 = bill[bill['date_entered'] > '2010-01-01']

In [73]:
# add npr artist id to artists
npr_artist_id = npr[['artist','artist_id']].drop_duplicates(subset=['artist_id'])
npr_artist_id = npr_artist_id.rename(columns = {'artist':'npr_artist','artist_id':'npr_artist_id'})
artists_npr = pd.merge(artists,npr_artist_id,how='left',left_on='artist_name_clean',
                      right_on='npr_artist')
artists = artists_npr

In [168]:
artists.npr_artist_id

0           NaN
1           NaN
2           NaN
3      16353081
4           NaN
5           NaN
6           NaN
7      93589677
8           NaN
9     102875223
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
...
616          NaN
617          NaN
618    160542455
619          NaN
620     15397485
621          NaN
622          NaN
623          NaN
624          NaN
625    141718298
626          NaN
627          NaN
628          NaN
629          NaN
630          NaN
Name: npr_artist_id, Length: 631, dtype: float64

In [183]:
# aggregate number of npr shows
npr_stats = pd.DataFrame()
npr_stats_frac = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.npr_artist_id)].iterrows():

    #artist = artists[pd.notnull(artists.npr_artist_id)].iloc[0]
    a_npr = npr[npr.artist_id == artist.npr_artist_id ]

    total = len(a_npr)

    g_show = a_npr.groupby('show')
    shows = g_show['artist_id'].count()

    cols = np.hstack([x.keys() for x in [shows]])
    vals = np.hstack([x.values for x in [shows]])
    fvals = vals / float(total)
    fvals

    df_num = pd.DataFrame([vals],columns=cols,index =[artist.npr_artist_id])
    df_frac = pd.DataFrame([vals/float(total)],columns=cols,index = [artist.npr_artist_id])
    df_num['total'] = total
    df_frac['total'] = total

    npr_stats = pd.concat([npr_stats,df_num])
    npr_stats_frac = pd.concat([npr_stats_frac,df_frac])

npr_stats_frac = npr_stats_frac.fillna(0.)
npr_stats = npr_stats.fillna(0)
len(npr_stats)

130

In [232]:
npr_by_week = pd.DataFrame()
npr_by_month = pd.DataFrame()
npr_by_year = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.npr_artist_id)].iterrows():

    a_npr = npr[npr.artist_id == artist.npr_artist_id]
    a_npr['count'] = 1
    npr_series = a_npr.set_index(pd.DatetimeIndex(a_npr['storyDate']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = npr_series['count'].resample('M', how='sum')
    years = npr_series['count'].resample('A', how='sum')
    weeks = npr_series['count'].resample('W', how='sum')

    npr_by_week[artist['npr_artist_id']] = weeks
    npr_by_year[artist['npr_artist_id']] = years
    npr_by_month[artist['npr_artist_id']] = months

npr_by_week = npr_by_week.fillna(0)
npr_by_year = npr_by_year.fillna(0)
npr_by_month = npr_by_month.fillna(0)

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [233]:
npr_by_year

,16353081.0,93589677.0,102875223.0,15622987.0,98565256.0,15669215.0,15283543.0,91099663.0,123116158.0,15597421.0,...,92448989.0,17000138.0,15325309.0,15397601.0,145926696.0,14889535.0,18790675.0,160542455.0,15397485.0,141718298.0
2007-12-31,2,0,0,0,0,0,1,0,0,0,...,0,1,1,0,0,4,0,0,1,0
2008-12-31,0,2,0,0,0,0,1,1,0,0,...,0,2,0,0,0,0,0,0,0,0
2009-12-31,1,0,1,0,0,0,2,0,1,0,...,1,0,0,0,0,1,0,0,0,0

In [154]:
# Aggregate number of concerts
concert_stats = pd.DataFrame()
concert_stats_frac = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.mbz_id)].iterrows():
#artist = artists.iloc[3]

    df_num = pd.DataFrame()
    df_frac = pd.DataFrame()

    a_concerts = concerts[concerts.mbz_id == artist.mbz_id]

    total = len(a_concerts)

    # groupbys
    #g_city = a_concerts.groupby('city')
    g_country = a_concerts.groupby('country')
    g_state = a_concerts.groupby('state')
    g_type = a_concerts.groupby('type')
    g_billing = a_concerts.groupby('billing')

    # counts
    states = g_state['mbz_id'].count()
    countrys = g_country['mbz_id'].count()
    types = g_type['mbz_id'].count()
    billings = g_billing['mbz_id'].count()

    #
    cols = np.hstack([x.keys() for x in [types,billings,countrys,states]])
    vals = np.hstack([x.values for x in [types,billings,countrys,states]])
    fvals = vals / float(total)
    fvals

    df_num = pd.DataFrame([vals],columns=cols,index =[artist.mbz_id])
    df_frac = pd.DataFrame([vals/float(total)],columns=cols,index = [artist.mbz_id])
    df_num['total'] = total
    df_frac['total'] = total

    concert_stats = pd.concat([concert_stats,df_num])
    concert_stats_frac = pd.concat([concert_stats_frac,df_frac])

concert_stats_frac = concert_stats_frac.fillna(0.)
concert_stats = concert_stats.fillna(0)
len(concert_stats)

490

In [217]:
concerts_by_week = pd.DataFrame()
concerts_by_month = pd.DataFrame()
concerts_by_year = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.mbz_id)].iterrows():
#artist = artists.iloc[3]
#a_concerts.date = pd.to_datetime(a_concerts)

    a_concerts = concerts[concerts.mbz_id == artist.mbz_id]
    a_concerts['count'] = 1
    concert_series = a_concerts.set_index(pd.DatetimeIndex(a_concerts['date']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = concert_series['count'].resample('M', how='sum')
    years = concert_series['count'].resample('A', how='sum')
    weeks = concert_series['count'].resample('W', how='sum')

    concerts_by_week[artist['mbz_id']] = weeks
    concerts_by_year[artist['mbz_id']] = years
    concerts_by_month[artist['mbz_id']] = months

concerts_by_week = concerts_by_week.fillna(0)
concerts_by_year = concerts_by_year.fillna(0)
concerts_by_month = concerts_by_month.fillna(0)

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [153]:
#concert_stats_frac

In [ ]:
# aggregate wikipedia by date month

In [ ]:
# get relative date since last concert, npr show and date_entered / date_peaked / wikipedia date