In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as sk

In [2]:
# import relavent data

artists = pd.DataFrame.from_csv('mode/mode_artists_left_join.csv',index_col=None)
wiki = pd.DataFrame.from_csv('wikipedia/DailyWikiStats_disambiguation_2010_15.csv',index_col=None)
npr = pd.DataFrame.from_csv('npr/npr_shows_from_billboard_2010_15.csv',index_col='show_id')
#concerts = pd.DataFrame.from_csv('seatgeek/SeatGeek_events_from_billboard_2010_15.csv',index_col='id')
#venues = pd.DataFrame.from_csv('seatgeek/SeatGeek_venues_from_billboard_2010_15.csv',index_col='id')
concerts = pd.DataFrame.from_csv('songkick/songkick_events_2010_15.csv',index_col='id')
bill = pd.DataFrame.from_csv('billboard/BillboardData_mod_2000.csv',index_col='id')

In [59]:
pd.DataFrame.from_csv?

In [3]:
print artists.keys()
artists.head()

Index([u'artist_name', u'artist_name_clean', u'artist_name_dash', u'artist_name_query', u'artist_name_underscore', u'sg_artist_id', u'event_count', u'genres', u'sg_type', u'sg_artist_score', u'nbs_id', u'mbz_id', u'mbz_type', u'isni_list', u'country', u'area', u'begin_area', u'life_span_begin', u'genre1', u'genre2', u'genre3', u'genre4', u'genre5'], dtype='object')

,artist_name,artist_name_clean,artist_name_dash,artist_name_query,artist_name_underscore,sg_artist_id,event_count,genres,sg_type,sg_artist_score,...,isni_list,country,area,begin_area,life_span_begin,genre1,genre2,genre3,genre4,genre5
0,Zach Sobiech,Zach Sobiech,zach-sobiech,zach+sobiech,zach_sobiech,160111,0,NaN,band,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Soulja Boy Tell'em,Soulja Boy Tell'em,soulja-boy-tell'em,soulja+boy+tell'em,soulja_boy_tell'em,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Austin Mahone,Austin Mahone,austin-mahone,austin+mahone,austin_mahone,12596,2,NaN,band,0.66274,...,NaN,US,United States,San Antonio,1996-04-04T00:00:00,RB,Pop,NaN,NaN,NaN
3,Britney Spears,Britney Spears,britney-spears,britney+spears,britney_spears,376,39,pop,band,0.68469,...,0000000109898265,US,United States,McComb,1981-12-02T00:00:00,Pop,NaN,NaN,NaN,NaN
4,Diggy,Diggy,diggy,diggy,diggy,28294,0,hip-hop,band,0.31305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
wiki.head()

,date,search_term,Artist,artist_name_clean_x,Language,PageViews,ambiguous
0,2010-01-01 00:00:00,the_1975,"1975, The",The 1975,en,0,False
1,2010-01-02 00:00:00,the_1975,"1975, The",The 1975,en,0,False
2,2010-01-03 00:00:00,the_1975,"1975, The",The 1975,en,0,False
3,2010-01-04 00:00:00,the_1975,"1975, The",The 1975,en,0,False
4,2010-01-05 00:00:00,the_1975,"1975, The",The 1975,en,0,False

In [5]:
npr.tail()

,artist,artist_id,title,show,storyDate,pubDate,lastModifiedDate,link
show_id,,,,,,,,
359406863,Annie Lennox,16219258,Annie Lennox On World Cafe,World Cafe,2014-10-28 14:53:00,2014-12-08 23:16:00,2014-12-08 23:16:52,http://www.npr.org/sections/world-cafe/2014/10...
357622310,Annie Lennox,16219258,'You Cannot Go Back': Annie Lennox On 'Nostalgia',Music Interviews,2014-10-21 06:00:00,2014-10-21 19:08:00,2014-10-21 19:08:33,http://www.npr.org/2014/10/20/357622310/you-ca...
132259127,Annie Lennox,16219258,Music Icon Annie Lennox Belts Songs Of Christm...,Holiday Music,2010-12-23 17:00:00,2010-12-23 20:05:00,2010-12-23 20:05:05,http://www.npr.org/2010/12/23/132259127/music-...
15963705,Annie Lennox,16219258,The Best CDs of 2003: Listeners' Picks,All Songs Considered,2003-12-23 17:00:00,2012-12-12 16:25:00,2012-12-12 16:25:21,http://www.npr.org/templates/story/story.php?s...
15111080,Kid Rock,15325309,Band of Horses to 'Begin' Again,Music Articles,2007-10-09 11:00:00,2012-12-12 16:20:00,2012-12-12 16:20:37,http://www.npr.org/templates/story/story.php?s...

In [6]:
print concerts.keys()
concerts.head()

Index([u'mbz_id', u'artist_name', u'event_name', u'type', u'popularity', u'city', u'lat', u'lng', u'venue_name', u'country', u'state', u'artist_id', u'billing', u'billingIndex', u'date', u'datetime', u'time'], dtype='object')

,mbz_id,artist_name,event_name,type,popularity,city,lat,lng,venue_name,country,state,artist_id,billing,billingIndex,date,datetime,time
id,,,,,,,,,,,,,,,,,
10327278,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at Texas Outback Bar & Grill (Se...,Concert,0.013323,"Helsinki, Finland",60.175600,24.934200,NaN,NaN,NaN,19885623,headline,1,2011-09-14 00:00:00,NaN,NaN
10329148,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at Canada Games Arena (September...,Concert,0.013323,"Grande Prairie, AB, Canada",55.171200,-118.795000,Canada Games Arena,Canada,AB,19890008,headline,1,2011-09-15 00:00:00,NaN,NaN
10327283,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,"Austin Mahone at Canada (September 16, 2011)",Concert,0.013323,"Toronto, ON, Canada",43.666700,-79.416700,Canada,Canada,ON,19885628,headline,1,2011-09-16 00:00:00,NaN,NaN
10329923,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,"Austin Mahone at New York (September 16, 2011)",Concert,0.013323,"Augusta, GA, US",33.457400,-81.995000,New York,US,GA,19891683,headline,1,2011-09-16 00:00:00,NaN,NaN
10368608,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at The Standard Hotel - New York...,Concert,0.013323,"New York, NY, US",40.740876,-74.007821,The Standard Hotel - New York City,US,NY,19978103,headline,1,2011-09-29 00:00:00,NaN,NaN

In [7]:
bill.head()

,year,yearly_rank,source,prefix,ch,x40,x10,pk,high,verified,...,x82nd_week,x83rd_week,x84th_week,x85th_week,x86th_week,x87th_week,x88th_week,x89th_week,x90th_week,x91st_week
id,,,,,,,,,,,,,,,,,,,,,
10112,2000,1,y,2000_001,28,25,17,11,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33870,2000,2,y,2000_002,26,24,18,10,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33975,2000,3,y,2000_003,33,28,17,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25621,2000,4,y,2000_004,24,22,12,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8017,2000,5,y,2000_005,21,16,8,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# restrict billboard to anything entering starting 2010
bill2010 = bill[bill['date_entered'] > '2010-01-01']

In [4]:
import re
def cleanName(name):
    """
    Use regular expressions to change an artist name string into
    a valid seatgeek slug.
    """
    s = name
    if ', The' in s:
        s = 'The ' + s[:-5]
    #r = re.compile(r"\s+")
    #s = r.sub("-", s) # "a\nb\nc
    return s

In [5]:
# add npr artist id to artists
npr_artist_id = npr[['artist','artist_id']].drop_duplicates(subset=['artist_id'])
npr_artist_id = npr_artist_id.rename(columns = {'artist':'npr_artist','artist_id':'npr_artist_id'})
artists_npr = pd.merge(artists,npr_artist_id,how='left',left_on='artist_name_clean',
                      right_on='npr_artist')

artists = artists_npr
#artists.npr_artist_id = artists.npr_artist_id.astype(int)

In [6]:
# add billoboard id to artist list
artists10_15 = bill2010[['artist_standardized','artist_id']].drop_duplicates(subset=['artist_id'])
artists10_15['billboard_artist'] = artists10_15.artist_standardized.apply(cleanName)

artists10_15.columns = [['artist_standardized','billboard_artist_id','billboard_artist']]

artists_bill = pd.merge(artists,artists10_15,how='left',left_on='artist_name_clean',right_on='billboard_artist')
#for i,x in artists10_15.iterrows():
#    artists[artists.artist_name_clean == x.artist_standardized]['billboard_artist_id'] = x.artist_id

artists = artists_bill

In [7]:
# ranges for time-series
d_rng =  pd.date_range('2010-01-01','2015-08-01',freq='D',normalize=True)
w_rng = pd.date_range('2010-01-01','2015-08-01',freq='W',normalize=True)
m_rng = pd.date_range('2010-01-01','2015-08-01',freq='M',normalize=True)
y_rng = pd.date_range('2010-01-01','2015-08-01',freq='A',normalize=True)

In [183]:
# aggregate number of npr shows
npr_stats = pd.DataFrame()
npr_stats_frac = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.npr_artist_id)].iterrows():

    #artist = artists[pd.notnull(artists.npr_artist_id)].iloc[0]
    a_npr = npr[npr.artist_id == artist.npr_artist_id ]

    total = len(a_npr)

    g_show = a_npr.groupby('show')
    shows = g_show['artist_id'].count()

    cols = np.hstack([x.keys() for x in [shows]])
    vals = np.hstack([x.values for x in [shows]])
    fvals = vals / float(total)
    fvals

    df_num = pd.DataFrame([vals],columns=cols,index =[artist.npr_artist_id])
    df_frac = pd.DataFrame([vals/float(total)],columns=cols,index = [artist.npr_artist_id])
    df_num['total'] = total
    df_frac['total'] = total

    npr_stats = pd.concat([npr_stats,df_num])
    npr_stats_frac = pd.concat([npr_stats_frac,df_frac])

npr_stats_frac = npr_stats_frac.fillna(0.)
npr_stats = npr_stats.fillna(0)
len(npr_stats)

130

In [324]:
# create npr time series

npr_by_week = pd.DataFrame()
npr_by_month = pd.DataFrame()
npr_by_year = pd.DataFrame()


# earliest date in the dataset
mindate = pd.to_datetime(npr.storyDate).min()
# nowish
maxdate = '2015-08-01'

for i,artist in artists[pd.notnull(artists.npr_artist_id)].iterrows():

    a_npr = npr[npr.artist_id == artist.npr_artist_id]
    a_npr['count'] = 1
    npr_series = a_npr.set_index(pd.DatetimeIndex(a_npr['storyDate']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = npr_series['count'].resample('M', how='sum')
    years = npr_series['count'].resample('A', how='sum')
    weeks = npr_series['count'].resample('W', how='sum')
    
    months = months.reindex(pd.date_range(mindate,maxdate,freq='M',normalize=True))
    weeks = weeks.reindex(pd.date_range(mindate,maxdate,freq='W',normalize=True))
    years = years.reindex(pd.date_range(mindate,maxdate,freq='A',normalize=True))

    npr_by_week[int(artist['npr_artist_id'])] = weeks
    npr_by_year[int(artist['npr_artist_id'])] = years
    npr_by_month[int(artist['npr_artist_id'])] = months

npr_by_week = npr_by_week.fillna(0)
npr_by_year = npr_by_year.fillna(0)
npr_by_month = npr_by_month.fillna(0)

npr_by_year.tail()

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,16353081,93589677,102875223,15622987,98565256,15669215,15283543,91099663,123116158,15597421,...,92448989,17000138,15325309,15397601,145926696,14889535,18790675,160542455,15397485,141718298
2010-12-31,0,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2011-12-31,0,2,0,0,0,0,0,2,0,0,...,0,2,0,2,0,0,4,0,2,2
2012-12-31,0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,5,4,0,0
2013-12-31,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,3,0
2014-12-31,0,1,0,0,0,0,0,0,0,0,...,0,2,0,2,0,0,0,0,0,0

In [325]:
npr_by_week[npr_by_week[16353081] > 0]

,16353081,93589677,102875223,15622987,98565256,15669215,15283543,91099663,123116158,15597421,...,92448989,17000138,15325309,15397601,145926696,14889535,18790675,160542455,15397485,141718298
2007-11-04,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2007-12-02,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-11-15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [154]:
# Aggregate number of concerts
concert_stats = pd.DataFrame()
concert_stats_frac = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.mbz_id)].iterrows():
#artist = artists.iloc[3]

    df_num = pd.DataFrame()
    df_frac = pd.DataFrame()

    a_concerts = concerts[concerts.mbz_id == artist.mbz_id]

    total = len(a_concerts)

    # groupbys
    #g_city = a_concerts.groupby('city')
    g_country = a_concerts.groupby('country')
    g_state = a_concerts.groupby('state')
    g_type = a_concerts.groupby('type')
    g_billing = a_concerts.groupby('billing')

    # counts
    states = g_state['mbz_id'].count()
    countrys = g_country['mbz_id'].count()
    types = g_type['mbz_id'].count()
    billings = g_billing['mbz_id'].count()

    #
    cols = np.hstack([x.keys() for x in [types,billings,countrys,states]])
    vals = np.hstack([x.values for x in [types,billings,countrys,states]])
    fvals = vals / float(total)
    fvals

    df_num = pd.DataFrame([vals],columns=cols,index =[artist.mbz_id])
    df_frac = pd.DataFrame([vals/float(total)],columns=cols,index = [artist.mbz_id])
    df_num['total'] = total
    df_frac['total'] = total

    concert_stats = pd.concat([concert_stats,df_num])
    concert_stats_frac = pd.concat([concert_stats_frac,df_frac])

concert_stats_frac = concert_stats_frac.fillna(0.)
concert_stats = concert_stats.fillna(0)
len(concert_stats)

490

In [328]:
# create concert time series

concerts_by_week = pd.DataFrame()
concerts_by_month = pd.DataFrame()
concerts_by_year = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.mbz_id)].iterrows():
#artist = artists.iloc[3]
#a_concerts.date = pd.to_datetime(a_concerts)

    a_concerts = concerts[concerts.mbz_id == artist.mbz_id]
    a_concerts['count'] = 1
    concert_series = a_concerts.set_index(pd.DatetimeIndex(a_concerts['date']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = concert_series['count'].resample('M', how='sum')
    years = concert_series['count'].resample('A', how='sum')
    weeks = concert_series['count'].resample('W', how='sum')
    
    months = months.reindex(m_rng)
    weeks = weeks.reindex(w_rng)
    years = years.reindex(y_rng)

    concerts_by_week[artist['mbz_id']] = weeks
    concerts_by_year[artist['mbz_id']] = years
    concerts_by_month[artist['mbz_id']] = months

concerts_by_week = concerts_by_week.fillna(0)
concerts_by_year = concerts_by_year.fillna(0)
concerts_by_month = concerts_by_month.fillna(0)

concerts_by_month.head()

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,b69b9854-f568-4a50-b076-309c459946a8,45a663b5-b1cb-4a91-bff6-2bef7bbfdd76,7fb57fba-a6ef-44c2-abab-2fa3bdee607e,57976431-1a5c-4968-a422-b92c5e9b0d4f,6413506f-e22b-412c-9f19-239db7df21f2,55489cf2-1d70-420f-a364-44b4e0eb276c,aa25521e-3848-4ff7-ab09-545cc95b8a36,396a9525-0994-4542-b480-c4587feeb476,f7eb3be3-1065-4a53-94d4-e2d0c15c0b33,f45da029-7b00-4bf3-962c-0eeb20309cc4,...,09887aa7-226e-4ecc-9a0c-02d2ae5777e1,bcb16f22-b064-4b80-b3a3-c824bccdbab1,6cfd7ffc-824f-4219-8e27-4b9417700f44,800760de-bdf8-43a2-8fe0-44a2401a5515,d211333a-22eb-4be7-a2ac-ca12c73646db,56756959-1e78-429c-b897-e1d056cb0225,507226f4-0842-4f43-950e-81a7017230ec,b87b38cc-b446-4a0c-968a-addb0e244c9d,12cb8765-c9ce-4553-b9e5-03d3dcd05b3d,3dc9c919-508f-4255-b05e-0eed6a28137d
2010-01-31,0,0,0,4,1,0,0,0,8,0,...,2,0,11,0,4,0,4,0,0,6
2010-02-28,0,0,0,1,0,0,0,0,6,0,...,0,0,7,0,11,0,1,0,0,14
2010-03-31,0,0,0,2,0,0,0,0,3,2,...,3,0,6,0,6,0,16,0,0,9
2010-04-30,0,0,0,9,0,0,0,0,7,7,...,0,1,2,0,9,0,3,0,0,7
2010-05-31,0,0,0,11,1,0,0,0,0,1,...,0,0,8,0,9,0,9,0,0,0

In [351]:
# aggregate wikipedia by date month

wiki_by_week = pd.DataFrame()
wiki_by_month = pd.DataFrame()
wiki_by_year = pd.DataFrame()

for i,artist in artists[ artists.artist_name_underscore.isin(
        np.unique(wiki.search_term[np.logical_not(wiki.ambiguous)]))].iterrows():
#artist = artists.iloc[3]
#a_concerts.date = pd.to_datetime(a_concerts)

    a_wiki = wiki[wiki.search_term == artist.artist_name_underscore]
    #a_wiki['count'] = 1
    wiki_series = a_wiki.set_index(pd.DatetimeIndex(a_wiki['date']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = wiki_series.PageViews.resample('M', how='sum')
    years = wiki_series.PageViews.resample('A', how='sum')
    weeks = wiki_series.PageViews.resample('W', how='sum')
    
    months = months.reindex(m_rng)
    weeks = weeks.reindex(w_rng)
    years = years.reindex(y_rng)

    wiki_by_week[artist['artist_name_underscore']] = weeks
    wiki_by_year[artist['artist_name_underscore']] = years
    wiki_by_month[artist['artist_name_underscore']] = months

wiki_by_week = wiki_by_week.fillna(0)
wiki_by_year = wiki_by_year.fillna(0)
wiki_by_month = wiki_by_month.fillna(0)

wiki_by_month.head()

,zach_sobiech,soulja_boy_tell'em,austin_mahone,britney_spears,diggy,fitz_and_the_tantrums,childish_gambino,glen_campbell,natalie_la_rose,mary_mary,...,the_wanted,brad_paisley,young_thug,gary_allan,tove_lo,zac_brown_band,kreayshawn,the_chainsmokers,ty_dolla_$ign,trace_adkins
2010-01-31,0,1589,0,400180,22,23,203,24572,0,18796,...,5,52692,4,18521,0,31343,0,0,0,24790
2010-02-28,0,1433,0,350596,14,18,228,28612,0,46377,...,9,45983,4,18762,0,95167,0,0,0,23554
2010-03-31,0,883,0,342037,26,36,538,28180,2,29353,...,11,54491,2,41928,0,43654,0,0,0,23031
2010-04-30,2,663,0,338469,19,21,484,29521,0,24479,...,12,67059,3,19085,0,45300,0,0,0,28151
2010-05-31,0,598,0,351988,140,42,880,28446,0,20560,...,14,75265,2,18712,0,40578,0,0,0,20799

In [ ]:
# get relative date since last concert, npr show and date_entered / date_peaked / wikipedia date

In [78]:
# build a table with billboard statistics for each artist

bill2010.date_entered = pd.to_datetime(bill2010.date_entered)
bill2010.date_peaked = pd.to_datetime(bill2010.date_peaked)

billboard_artist_stats = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.billboard_artist_id)].iterrows():
    #artist = artists.iloc[3]
    a_bill = bill2010[bill2010.artist_id == 
                      artist.billboard_artist_id]

    # get ids for outstanding tracks
    first_track_idx = a_bill.date_entered.argmin() 
    last_track_idx = a_bill.date_entered.argmax()
    highest_track_idx = a_bill.high.argmin()
    longest_track_idx = a_bill.ch.argmax()

    # get interesting dates:
    first_entered = a_bill.loc[first_track_idx].date_entered
    last_entered = a_bill.loc[last_track_idx].date_entered
    peak_date = a_bill.loc[highest_track_idx].date_peaked

    # single number stats
    # track bests
    highest = a_bill.high.min()
    longest = a_bill.ch.max()
    longest40 = a_bill.x40.max()
    longest10 = a_bill.x10.max()

    # totaled lifetime
    weeks_total = a_bill.ch.sum()
    weeks_total10 = a_bill.x10.sum()
    weeks_total40 = a_bill.x40.sum()

    # number of tracks
    tracks = len(a_bill)
    tracks10 = len(a_bill[a_bill.x10 > 0])
    tracks40 = len(a_bill[a_bill.x40 > 0])

    df = pd.DataFrame([[tracks,tracks10,tracks40,weeks_total,weeks_total10,weeks_total40,
                       highest,longest,longest40,longest10,
                        first_entered,last_entered,peak_date,
                       first_track_idx,last_track_idx,highest_track_idx,longest_track_idx]],
                      columns=
                      ['tracks','tracks10','tracks40','weeks_total','weeks_total10','weeks_total40',
                       'highest','longest','longest40','longest10',
                        'first_entered','last_entered','peak_date',
                       'first_track_idx','last_track_idx','highest_track_idx','longest_track_idx'],
                     index=[artist.artist_name_underscore])
    billboard_artist_stats = billboard_artist_stats.append(df)

billboard_artist_stats.head()

,tracks,tracks10,tracks40,weeks_total,weeks_total10,weeks_total40,highest,longest,longest40,longest10,first_entered,last_entered,peak_date,first_track_idx,last_track_idx,highest_track_idx,longest_track_idx
zach_sobiech,1,0,1,2,0,1,26,2,1,0,2013-06-08,2013-06-08,2013-06-08,39894,39894,39894,39894
soulja_boy_tell'em,1,0,1,16,0,4,34,16,4,0,2010-07-03,2010-07-03,2010-08-21,35004,35004,35004,35004
austin_mahone,2,0,0,24,0,0,49,15,0,0,2013-06-29,2014-02-08,2014-05-03,2453,2452,2452,2452
britney_spears,7,3,4,91,18,54,1,24,23,9,2011-01-29,2013-11-23,2011-01-29,6231,6230,6231,6232
diggy,1,0,0,8,0,0,80,8,0,0,2012-02-11,2012-02-11,2012-04-07,10426,10426,10426,10426