In [59]:
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as sk

In [60]:
# import relavent data

artists = pd.DataFrame.from_csv('mode/mode_artists_left_join.csv',index_col=None)
wiki = pd.DataFrame.from_csv('wikipedia/DailyWikiStats_disambiguation_2010_15.csv',index_col=None)
npr = pd.DataFrame.from_csv('npr/npr_shows_from_billboard_2010_15.csv',index_col='show_id')
#concerts = pd.DataFrame.from_csv('seatgeek/SeatGeek_events_from_billboard_2010_15.csv',index_col='id')
#venues = pd.DataFrame.from_csv('seatgeek/SeatGeek_venues_from_billboard_2010_15.csv',index_col='id')
concerts = pd.DataFrame.from_csv('songkick/songkick_events_2010_15.csv',index_col='id')
bill = pd.DataFrame.from_csv('billboard/BillboardData_mod_2000.csv',index_col='id')
bill_reorg = pd.DataFrame.from_csv('billboard/billboard_mod_2010_reorganized.csv',index_col=None)

In [61]:
print bill_reorg.keys()
bill_reorg.head()

Index([u'artist', u'featured', u'album', u'track', u'date_entered', u'year', u'yearly_rank', u'ch', u'x40', u'x10', u'pk', u'high', u'explicit', u'time', u'week', u'week_extracted', u'rank', u'date'], dtype='object')

,artist,featured,album,track,date_entered,year,yearly_rank,ch,x40,x10,pk,high,explicit,time,week,week_extracted,rank,date
0,Ke$ha,0,Animal,TiK ToK,10/24/2009 0:00,2010,1,38,35,20,9,1,NaN,200,x1st_week,1,79,10/24/2009
1,Eminem,0,Recovery,Love The Way You Lie,7/10/2010 0:00,2010,2,29,27,16,7,1,x,263,x1st_week,1,2,7/10/2010
2,Katy Perry,0,Teenage Dream (Deluxe Edition),California Gurls,5/29/2010 0:00,2010,3,27,25,17,6,1,NaN,236,x1st_week,1,2,5/29/2010
3,Rihanna,0,Rated R,Rude Boy,2/27/2010 0:00,2010,4,22,21,13,5,1,xc,222,x1st_week,1,64,2/27/2010
4,Bruno Mars,0,Doo-Wops & Hooligans,Just The Way You Are,8/7/2010 0:00,2010,5,48,43,22,4,1,NaN,220,x1st_week,1,43,8/7/2010

In [62]:
print artists.keys()
artists.head()

Index([u'artist_name', u'artist_name_clean', u'artist_name_dash', u'artist_name_query', u'artist_name_underscore', u'sg_artist_id', u'event_count', u'genres', u'sg_type', u'sg_artist_score', u'nbs_id', u'mbz_id', u'mbz_type', u'isni_list', u'country', u'area', u'begin_area', u'life_span_begin', u'genre1', u'genre2', u'genre3', u'genre4', u'genre5'], dtype='object')

,artist_name,artist_name_clean,artist_name_dash,artist_name_query,artist_name_underscore,sg_artist_id,event_count,genres,sg_type,sg_artist_score,...,isni_list,country,area,begin_area,life_span_begin,genre1,genre2,genre3,genre4,genre5
0,Zach Sobiech,Zach Sobiech,zach-sobiech,zach+sobiech,zach_sobiech,160111,0,NaN,band,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Soulja Boy Tell'em,Soulja Boy Tell'em,soulja-boy-tell'em,soulja+boy+tell'em,soulja_boy_tell'em,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Austin Mahone,Austin Mahone,austin-mahone,austin+mahone,austin_mahone,12596,2,NaN,band,0.66274,...,NaN,US,United States,San Antonio,1996-04-04T00:00:00,RB,Pop,NaN,NaN,NaN
3,Britney Spears,Britney Spears,britney-spears,britney+spears,britney_spears,376,39,pop,band,0.68469,...,0000000109898265,US,United States,McComb,1981-12-02T00:00:00,Pop,NaN,NaN,NaN,NaN
4,Diggy,Diggy,diggy,diggy,diggy,28294,0,hip-hop,band,0.31305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
wiki.head()

,date,search_term,Artist,artist_name_clean_x,Language,PageViews,ambiguous
0,2010-01-01 00:00:00,the_1975,"1975, The",The 1975,en,0,False
1,2010-01-02 00:00:00,the_1975,"1975, The",The 1975,en,0,False
2,2010-01-03 00:00:00,the_1975,"1975, The",The 1975,en,0,False
3,2010-01-04 00:00:00,the_1975,"1975, The",The 1975,en,0,False
4,2010-01-05 00:00:00,the_1975,"1975, The",The 1975,en,0,False

In [64]:
npr.tail()

,artist,artist_id,title,show,storyDate,pubDate,lastModifiedDate,link
show_id,,,,,,,,
359406863,Annie Lennox,16219258,Annie Lennox On World Cafe,World Cafe,2014-10-28 14:53:00,2014-12-08 23:16:00,2014-12-08 23:16:52,http://www.npr.org/sections/world-cafe/2014/10...
357622310,Annie Lennox,16219258,'You Cannot Go Back': Annie Lennox On 'Nostalgia',Music Interviews,2014-10-21 06:00:00,2014-10-21 19:08:00,2014-10-21 19:08:33,http://www.npr.org/2014/10/20/357622310/you-ca...
132259127,Annie Lennox,16219258,Music Icon Annie Lennox Belts Songs Of Christm...,Holiday Music,2010-12-23 17:00:00,2010-12-23 20:05:00,2010-12-23 20:05:05,http://www.npr.org/2010/12/23/132259127/music-...
15963705,Annie Lennox,16219258,The Best CDs of 2003: Listeners' Picks,All Songs Considered,2003-12-23 17:00:00,2012-12-12 16:25:00,2012-12-12 16:25:21,http://www.npr.org/templates/story/story.php?s...
15111080,Kid Rock,15325309,Band of Horses to 'Begin' Again,Music Articles,2007-10-09 11:00:00,2012-12-12 16:20:00,2012-12-12 16:20:37,http://www.npr.org/templates/story/story.php?s...

In [65]:
print concerts.keys()
concerts.head()

Index([u'mbz_id', u'artist_name', u'event_name', u'type', u'popularity', u'city', u'lat', u'lng', u'venue_name', u'country', u'state', u'artist_id', u'billing', u'billingIndex', u'date', u'datetime', u'time'], dtype='object')

,mbz_id,artist_name,event_name,type,popularity,city,lat,lng,venue_name,country,state,artist_id,billing,billingIndex,date,datetime,time
id,,,,,,,,,,,,,,,,,
10327278,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at Texas Outback Bar & Grill (Se...,Concert,0.013323,"Helsinki, Finland",60.175600,24.934200,NaN,NaN,NaN,19885623,headline,1,2011-09-14 00:00:00,NaN,NaN
10329148,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at Canada Games Arena (September...,Concert,0.013323,"Grande Prairie, AB, Canada",55.171200,-118.795000,Canada Games Arena,Canada,AB,19890008,headline,1,2011-09-15 00:00:00,NaN,NaN
10327283,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,"Austin Mahone at Canada (September 16, 2011)",Concert,0.013323,"Toronto, ON, Canada",43.666700,-79.416700,Canada,Canada,ON,19885628,headline,1,2011-09-16 00:00:00,NaN,NaN
10329923,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,"Austin Mahone at New York (September 16, 2011)",Concert,0.013323,"Augusta, GA, US",33.457400,-81.995000,New York,US,GA,19891683,headline,1,2011-09-16 00:00:00,NaN,NaN
10368608,b69b9854-f568-4a50-b076-309c459946a8,Austin Mahone,Austin Mahone at The Standard Hotel - New York...,Concert,0.013323,"New York, NY, US",40.740876,-74.007821,The Standard Hotel - New York City,US,NY,19978103,headline,1,2011-09-29 00:00:00,NaN,NaN

In [66]:
bill.head()

,year,yearly_rank,source,prefix,ch,x40,x10,pk,high,verified,...,x82nd_week,x83rd_week,x84th_week,x85th_week,x86th_week,x87th_week,x88th_week,x89th_week,x90th_week,x91st_week
id,,,,,,,,,,,,,,,,,,,,,
10112,2000,1,y,2000_001,28,25,17,11,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33870,2000,2,y,2000_002,26,24,18,10,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33975,2000,3,y,2000_003,33,28,17,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25621,2000,4,y,2000_004,24,22,12,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8017,2000,5,y,2000_005,21,16,8,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# restrict billboard to anything entering starting 2010
bill2010 = bill[bill['date_entered'] > '2010-01-01']

In [68]:
import re
def cleanName(name):
    """
    Use regular expressions to change an artist name string into
    a valid seatgeek slug.
    """
    s = name
    if ', The' in s:
        s = 'The ' + s[:-5]
    #r = re.compile(r"\s+")
    #s = r.sub("-", s) # "a\nb\nc
    return s

In [69]:
# add npr artist id to artists
npr_artist_id = npr[['artist','artist_id']].drop_duplicates(subset=['artist_id'])
npr_artist_id = npr_artist_id.rename(columns = {'artist':'npr_artist','artist_id':'npr_artist_id'})
artists_npr = pd.merge(artists,npr_artist_id,how='left',left_on='artist_name_clean',
                      right_on='npr_artist')

artists = artists_npr
#artists.npr_artist_id = artists.npr_artist_id.astype(int)

In [70]:
# add billoboard id to artist list
artists10_15 = bill2010[['artist_standardized','artist_id']].drop_duplicates(subset=['artist_id'])
artists10_15['billboard_artist'] = artists10_15.artist_standardized.apply(cleanName)

artists10_15.columns = [['artist_standardized','billboard_artist_id','billboard_artist']]

artists_bill = pd.merge(artists,artists10_15,how='left',left_on='artist_name_clean',right_on='billboard_artist')
#for i,x in artists10_15.iterrows():
#    artists[artists.artist_name_clean == x.artist_standardized]['billboard_artist_id'] = x.artist_id

artists = artists_bill

In [71]:
# ranges for time-series
d_rng =  pd.date_range('2010-01-01','2015-08-01',freq='D',normalize=True)
w_rng = pd.date_range('2010-01-01','2015-08-01',freq='W',normalize=True)
m_rng = pd.date_range('2010-01-01','2015-08-01',freq='M',normalize=True)
y_rng = pd.date_range('2010-01-01','2015-08-01',freq='A',normalize=True)

In [210]:
# aggregate number of npr shows
npr_stats = pd.DataFrame()
npr_stats_frac = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.npr_artist_id)].iterrows():

    #artist = artists[pd.notnull(artists.npr_artist_id)].iloc[0]
    a_npr = npr[npr.artist_id == artist.npr_artist_id ]

    total = len(a_npr)

    g_show = a_npr.groupby('show')
    shows = g_show['artist_id'].count()

    cols = np.hstack([x.keys() for x in [shows]])
    vals = np.hstack([x.values for x in [shows]])
    fvals = vals / float(total)
    fvals

    df_num = pd.DataFrame([vals],columns=cols,index =[artist.artist_name_underscore])
    df_frac = pd.DataFrame([vals/float(total)],columns=cols,index = [artist.artist_name_underscore])
    df_num['total'] = total
    df_frac['total'] = total

    npr_stats = pd.concat([npr_stats,df_num])
    npr_stats_frac = pd.concat([npr_stats_frac,df_frac])

npr_stats_frac = npr_stats_frac.fillna(0.)
npr_stats = npr_stats.fillna(0)
npr_stats.head()

,A Blog Supreme,All Songs Considered,All Songs TV,Alt.Latino,Arts & Life,Author Interviews,Best Music Of 2011,Best Music Of 2012,Best Music Of 2013,Commentary,...,Sweatin' To NPR: Workout Music,The Best Music Of 2009,The Best Music Of 2014,The Decade In Music: '00s,The Record,Tiny Desk,U.S.,What Makes It Great,World Cafe,total
britney_spears,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3
glen_campbell,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5
mary_mary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
missy_elliott,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
little_big_town,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [205]:
# create npr time series

npr_by_week = pd.DataFrame()
npr_by_month = pd.DataFrame()
npr_by_year = pd.DataFrame()


# earliest date in the dataset
mindate = pd.to_datetime(npr.storyDate).min()
# nowish
maxdate = '2015-08-01'

for i,artist in artists[pd.notnull(artists.npr_artist_id)].iterrows():

    a_npr = npr[npr.artist_id == artist.npr_artist_id]
    a_npr['count'] = 1
    npr_series = a_npr.set_index(pd.DatetimeIndex(a_npr['storyDate']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = npr_series['count'].resample('M', how='sum')
    years = npr_series['count'].resample('A', how='sum')
    weeks = npr_series['count'].resample('W', how='sum')
    
    months = months.reindex(pd.date_range(mindate,maxdate,freq='M',normalize=True))
    weeks = weeks.reindex(pd.date_range(mindate,maxdate,freq='W',normalize=True))
    years = years.reindex(pd.date_range(mindate,maxdate,freq='A',normalize=True))

    #npr_by_week[int(artist['npr_artist_id'])] = weeks
    #npr_by_year[int(artist['npr_artist_id'])] = years
    #npr_by_month[int(artist['npr_artist_id'])] = months

    npr_by_week[artist.artist_name_underscore] = weeks
    npr_by_year[artist.artist_name_underscore] = years
    npr_by_month[artist.artist_name_underscore] = months
    
npr_by_week = npr_by_week.fillna(0)
npr_by_year = npr_by_year.fillna(0)
npr_by_month = npr_by_month.fillna(0)

npr_by_year.tail()

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,britney_spears,glen_campbell,mary_mary,missy_elliott,little_big_town,the_fray,green_day,ashton_shepherd,maxwell,jamie_foxx,...,wale,foo_fighters,kid_rock,eric_church,alabama_shakes,50_cent,adele,carly_rae_jepsen,brad_paisley,kreayshawn
2010-12-31,0,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2011-12-31,0,2,0,0,0,0,0,2,0,0,...,0,2,0,2,0,0,4,0,2,2
2012-12-31,0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,5,4,0,0
2013-12-31,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,3,0
2014-12-31,0,1,0,0,0,0,0,0,0,0,...,0,2,0,2,0,0,0,0,0,0

In [211]:
# Aggregate number of concerts
concert_stats = pd.DataFrame()
concert_stats_frac = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.mbz_id)].iterrows():
#artist = artists.iloc[3]

    df_num = pd.DataFrame()
    df_frac = pd.DataFrame()

    a_concerts = concerts[concerts.mbz_id == artist.mbz_id]

    total = len(a_concerts)

    # groupbys
    #g_city = a_concerts.groupby('city')
    g_country = a_concerts.groupby('country')
    g_state = a_concerts.groupby('state')
    g_type = a_concerts.groupby('type')
    g_billing = a_concerts.groupby('billing')

    # counts
    states = g_state['mbz_id'].count()
    countrys = g_country['mbz_id'].count()
    types = g_type['mbz_id'].count()
    billings = g_billing['mbz_id'].count()

    #
    cols = np.hstack([x.keys() for x in [types,billings,countrys,states]])
    vals = np.hstack([x.values for x in [types,billings,countrys,states]])
    fvals = vals / float(total)
    fvals

    df_num = pd.DataFrame([vals],columns=cols,index =[artist.artist_name_underscore])
    df_frac = pd.DataFrame([vals/float(total)],columns=cols,index = [artist.artist_name_underscore])
    df_num['total'] = total
    df_frac['total'] = total

    concert_stats = pd.concat([concert_stats,df_num])
    concert_stats_frac = pd.concat([concert_stats_frac,df_frac])

concert_stats_frac = concert_stats_frac.fillna(0.)
concert_stats = concert_stats.fillna(0)
concert_stats.head()

,AB,ACT,AK,AL,AR,AZ,Australia,BC,CA,CO,...,UT,VA,VIC,VT,WA,WI,WV,WY,headline,total
austin_mahone,1,0,0,1,1,1,0,1,11,1,...,1,0,0,1,3,2,1,0,106,158
britney_spears,0,0,0,0,0,1,0,1,6,0,...,0,0,0,0,1,2,0,0,188,210
childish_gambino,0,0,0,2,0,3,8,3,33,4,...,2,1,2,0,5,1,0,0,134,210
glen_campbell,0,0,0,1,3,2,4,0,15,2,...,1,0,2,0,3,5,2,0,181,195
mary_mary,0,0,0,5,0,1,1,0,4,2,...,0,5,1,0,1,0,0,0,0,87

In [203]:
# create concert time series

concerts_by_week = pd.DataFrame()
concerts_by_month = pd.DataFrame()
concerts_by_year = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.mbz_id)].iterrows():
#artist = artists.iloc[3]
#a_concerts.date = pd.to_datetime(a_concerts)

    a_concerts = concerts[concerts.mbz_id == artist.mbz_id]
    a_concerts['count'] = 1
    concert_series = a_concerts.set_index(pd.DatetimeIndex(a_concerts['date']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = concert_series['count'].resample('M', how='sum')
    years = concert_series['count'].resample('A', how='sum')
    weeks = concert_series['count'].resample('W', how='sum')
    
    months = months.reindex(m_rng)
    weeks = weeks.reindex(w_rng)
    years = years.reindex(y_rng)

    #concerts_by_week[artist['mbz_id']] = weeks
    #concerts_by_year[artist['mbz_id']] = years
    #concerts_by_month[artist['mbz_id']] = months
    concerts_by_week[artist['artist_name_underscore']] = weeks
    concerts_by_year[artist['artist_name_underscore']] = years
    concerts_by_month[artist['artist_name_underscore']] = months

concerts_by_week = concerts_by_week.fillna(0)
concerts_by_year = concerts_by_year.fillna(0)
concerts_by_month = concerts_by_month.fillna(0)

concerts_by_month.head()

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,austin_mahone,britney_spears,childish_gambino,glen_campbell,mary_mary,lucy_hale,mkto,tinashe,sean_kingston,keith_urban,...,carly_rae_jepsen,the_wanted,brad_paisley,young_thug,gary_allan,tove_lo,zac_brown_band,kreayshawn,mann,trace_adkins
2010-01-31,0,0,0,4,1,0,0,0,8,0,...,2,0,11,0,4,0,4,0,0,6
2010-02-28,0,0,0,1,0,0,0,0,6,0,...,0,0,7,0,11,0,1,0,0,14
2010-03-31,0,0,0,2,0,0,0,0,3,2,...,3,0,6,0,6,0,16,0,0,9
2010-04-30,0,0,0,9,0,0,0,0,7,7,...,0,1,2,0,9,0,3,0,0,7
2010-05-31,0,0,0,11,1,0,0,0,0,1,...,0,0,8,0,9,0,9,0,0,0

In [351]:
# aggregate wikipedia by date month,week,year

wiki_by_week = pd.DataFrame()
wiki_by_month = pd.DataFrame()
wiki_by_year = pd.DataFrame()

for i,artist in artists[ artists.artist_name_underscore.isin(
        np.unique(wiki.search_term[np.logical_not(wiki.ambiguous)]))].iterrows():
#artist = artists.iloc[3]
#a_concerts.date = pd.to_datetime(a_concerts)

    a_wiki = wiki[wiki.search_term == artist.artist_name_underscore]
    #a_wiki['count'] = 1
    wiki_series = a_wiki.set_index(pd.DatetimeIndex(a_wiki['date']))
    #concert_series = a_concerts.set_index(pd.datetimeIn'date')
    months = wiki_series.PageViews.resample('M', how='sum')
    years = wiki_series.PageViews.resample('A', how='sum')
    weeks = wiki_series.PageViews.resample('W', how='sum')
    
    months = months.reindex(m_rng)
    weeks = weeks.reindex(w_rng)
    years = years.reindex(y_rng)

    wiki_by_week[artist['artist_name_underscore']] = weeks
    wiki_by_year[artist['artist_name_underscore']] = years
    wiki_by_month[artist['artist_name_underscore']] = months

wiki_by_week = wiki_by_week.fillna(0)
wiki_by_year = wiki_by_year.fillna(0)
wiki_by_month = wiki_by_month.fillna(0)

wiki_by_month.head()

,zach_sobiech,soulja_boy_tell'em,austin_mahone,britney_spears,diggy,fitz_and_the_tantrums,childish_gambino,glen_campbell,natalie_la_rose,mary_mary,...,the_wanted,brad_paisley,young_thug,gary_allan,tove_lo,zac_brown_band,kreayshawn,the_chainsmokers,ty_dolla_$ign,trace_adkins
2010-01-31,0,1589,0,400180,22,23,203,24572,0,18796,...,5,52692,4,18521,0,31343,0,0,0,24790
2010-02-28,0,1433,0,350596,14,18,228,28612,0,46377,...,9,45983,4,18762,0,95167,0,0,0,23554
2010-03-31,0,883,0,342037,26,36,538,28180,2,29353,...,11,54491,2,41928,0,43654,0,0,0,23031
2010-04-30,2,663,0,338469,19,21,484,29521,0,24479,...,12,67059,3,19085,0,45300,0,0,0,28151
2010-05-31,0,598,0,351988,140,42,880,28446,0,20560,...,14,75265,2,18712,0,40578,0,0,0,20799

In [ ]:
# get relative date since last concert, npr show and date_entered / date_peaked / wikipedia date

In [199]:
# build a table with billboard statistics for each artist (THIS DOESNT SEEM TO MATCH SOME OF THE WEEKLY DATA)

bill2010.date_entered = pd.to_datetime(bill2010.date_entered)
bill2010.date_peaked = pd.to_datetime(bill2010.date_peaked)

billboard_artist_stats = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.billboard_artist_id)].iterrows():
    #artist = artists.iloc[3]
    a_bill = bill2010[bill2010.artist_id == 
                      artist.billboard_artist_id]

    # get ids for outstanding tracks
    first_track_idx = a_bill.date_entered.argmin() 
    last_track_idx = a_bill.date_entered.argmax()
    highest_track_idx = a_bill.high.argmin()
    longest_track_idx = a_bill.ch.argmax()

    # get interesting dates:
    first_entered = a_bill.loc[first_track_idx].date_entered
    last_entered = a_bill.loc[last_track_idx].date_entered
    peak_date = a_bill.loc[highest_track_idx].date_peaked

    # single number stats
    # track bests
    highest = a_bill.high.min()
    longest = a_bill.ch.max()
    longest40 = a_bill.x40.max()
    longest10 = a_bill.x10.max()

    # totaled lifetime
    weeks_total = a_bill.ch.sum()
    weeks_total10 = a_bill.x10.sum()
    weeks_total40 = a_bill.x40.sum()

    # number of tracks
    tracks = len(a_bill)
    tracks10 = len(a_bill[a_bill.x10 > 0])
    tracks40 = len(a_bill[a_bill.x40 > 0])

    df = pd.DataFrame([[tracks,tracks10,tracks40,weeks_total,weeks_total10,weeks_total40,
                       highest,longest,longest40,longest10,
                        first_entered,last_entered,peak_date,
                       first_track_idx,last_track_idx,highest_track_idx,longest_track_idx]],
                      columns=
                      ['tracks','tracks10','tracks40','weeks_total','weeks_total10','weeks_total40',
                       'highest','longest','longest40','longest10',
                        'first_entered','last_entered','peak_date',
                       'first_track_idx','last_track_idx','highest_track_idx','longest_track_idx'],
                     index=[artist.artist_name_underscore])
    billboard_artist_stats = billboard_artist_stats.append(df)

billboard_artist_stats_original = billboard_artist_stats
billboard_artist_stats_original.head()

In [ ]:
# Aggregate billboard position by week

In [24]:
bill_main = bill_reorg[bill_reorg.featured == 0]
bill_main['artist_standardized'] = bill_main.artist.apply(cleanName)
bill_main.date = pd.to_datetime(bill_main.date)

/Users/swahl/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app
/Users/swahl/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:1974: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [187]:
# Genereate weekly billboard timeseries and track statistics

# earliest date in the dataset
mindate = pd.to_datetime(bill_main.date).min()
# nowish
maxdate = pd.to_datetime(bill_main.date).max()

billboard_by_week = pd.DataFrame()
billboard_track_stats = pd.DataFrame()

g = bill_main.groupby(['track','artist_standardized'])
groups = g.groups 

for key in groups.keys():
    #key = ('Elastic Heart','Sia')
    ids = groups[key]
    track = key[0]
    artist = cleanName(key[1])
    try:
        #billboard_id = bill2010[bill2010.track == track].index[0]
        billboard_id = bill2010[np.logical_and(bill2010.track == track, bill2010.artist_standardized == artist)].index[0]
        artist_id = bill2010.artist_id[bill2010.artist_standardized == artist].iloc[0]
    except:
        billboard_id = None
        artist_id = None
    else:

        a_track = bill_main.loc[ids]
        track_series = a_track.set_index(pd.DatetimeIndex(a_track['date']))

        # resample for a consistant timeseries
        weeks = track_series['rank'].resample('W', how='sum')
        weeks = weeks.reindex(pd.date_range(mindate,maxdate,freq='W',normalize=True) )

        # save as column in a dataframe
        billboard_by_week[billboard_id] = weeks

        # lifespan on chart
        span = len(track_series)
        span10 = len(track_series[track_series['rank']<11])
        span40 = len(track_series[track_series['rank']<41])
        peak = track_series['rank'].min()
        span_peak = len(track_series[track_series['rank'] == peak])

        # dates of interest
        week_entered = weeks[pd.notnull(weeks)].index.min()
        week_peaked = weeks.argmin()

        stats = pd.DataFrame([[artist,artist_id,track,billboard_id,peak,span,span_peak,span10,span40,week_entered,week_peaked]],
                            columns=['artist','artist_id','track','track_id','peak','span','span_peak','span10','span40','week_entered','week_peaked'],
                            index=[billboard_id])

        billboard_track_stats = billboard_track_stats.append(stats)

print billboard_track_stats.tail()
billboard_by_week.tail()

              artist  artist_id                                 track  \
36220   Taylor Swift       7850                          Shake It Off
11743  Easton Corbin       8064                     Lovin' You Is Fun
23026  Kelly Rowland       7677                                   Ice
30703        Pitbull       4915                        Wild Wild Love
16183      Glee Cast       8043  I Love New York / New York, New York

       track_id  peak  span  span_peak  span10  span40 week_entered  \
36220     36220     1     8          2       8       8   2014-09-07
11743     11743    57    20          1       0       0   2012-07-08
23026     23026    88    12          1       0       0   2012-09-16
30703     30703    30    18          2       0       5   2014-03-16
16183     16183    81     1          1       0       0   2011-06-12

      week_peaked
36220  2014-09-07
11743  2012-11-11
23026  2012-12-16
30703  2014-05-18
16183  2011-06-12

,21232,30704,34853,30708,37819,37952,7932,9352,16214,16115,...,16108,22493,28862,7987,1939,36220,11743,23026,30703,16183
2015-02-22,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-01,NaN,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-08,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-15,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-22,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
# build a table with billboard statistics for each artist (that is consistant with the time series,
# but also seems to include less entries)

billboard_track_stats.date_entered = pd.to_datetime(billboard_track_stats.week_entered)
billboard_track_stats.date_peaked = pd.to_datetime(billboard_track_stats.week_peaked)

billboard_artist_stats = pd.DataFrame()

for i,artist in artists[pd.notnull(artists.billboard_artist_id)].iterrows():
    #artist = artists.iloc[3]
    a_bill = billboard_track_stats[billboard_track_stats.artist_id == 
                      artist.billboard_artist_id]
    try:
        # get ids for outstanding tracks
        first_track_idx = a_bill.week_entered.argmin() 
        last_track_idx = a_bill.week_entered.argmax()
        highest_track_idx = a_bill.peak.argmin()
        longest_track_idx = a_bill.span.argmax()

        # get interesting dates:
        first_entered = a_bill.loc[first_track_idx].week_entered
        last_entered = a_bill.loc[last_track_idx].week_entered
        peak_date = a_bill.loc[highest_track_idx].week_peaked

        # single number stats
        # track bests
        highest = a_bill.peak.min()
        longest = a_bill.span.max()
        longest40 = a_bill.span40.max()
        longest10 = a_bill.span10.max()

        # totaled lifetime
        weeks_total = a_bill.span.sum()
        weeks_total10 = a_bill.span10.sum()
        weeks_total40 = a_bill.span40.sum()

        # number of tracks
        tracks = len(a_bill)
        tracks10 = len(a_bill[a_bill.span10 > 0])
        tracks40 = len(a_bill[a_bill.span40 > 0])

        df = pd.DataFrame([[tracks,tracks10,tracks40,weeks_total,weeks_total10,weeks_total40,
                           highest,longest,longest40,longest10,
                            first_entered,last_entered,peak_date,
                           first_track_idx,last_track_idx,highest_track_idx,longest_track_idx]],
                          columns=
                          ['tracks','tracks10','tracks40','weeks_total','weeks_total10','weeks_total40',
                           'highest','longest','longest40','longest10',
                            'first_entered','last_entered','peak_date',
                           'first_track_idx','last_track_idx','highest_track_idx','longest_track_idx'],
                         index=[artist.artist_name_underscore])
        billboard_artist_stats = billboard_artist_stats.append(df)
    except:
        print artist.billboard_artist_id

billboard_artist_stats_consistent = billboard_artist_stats
billboard_artist_stats.head()

2709.0
8107.0
7785.0
3346.0
8305.0
7846.0
8120.0
4532.0
8300.0
7024.0
7204.0
8117.0
5771.0
8383.0
7165.0
7789.0
8109.0
6713.0
8122.0
8102.0
7884.0
8078.0
4249.0
8364.0
8128.0
8093.0
6796.0
8259.0
8142.0
8197.0
7183.0
8230.0
8275.0
8012.0
8089.0
8196.0
8257.0
8370.0

,tracks,tracks10,tracks40,weeks_total,weeks_total10,weeks_total40,highest,longest,longest40,longest10,first_entered,last_entered,peak_date,first_track_idx,last_track_idx,highest_track_idx,longest_track_idx
zach_sobiech,1,0,1,2,0,1,26,2,1,0,2013-06-09,2013-06-09,2013-06-09,39894,39894,39894,39894
soulja_boy_tell'em,1,0,1,16,0,4,34,16,4,0,2010-07-04,2010-07-04,2010-08-22,35004,35004,35004,35004
austin_mahone,2,0,0,24,0,0,49,15,0,0,2013-06-30,2014-02-09,2014-05-04,2453,2452,2452,2452
britney_spears,7,3,4,91,18,54,1,24,23,9,2011-01-30,2013-11-24,2011-01-30,6231,6230,6231,6232
diggy,1,0,0,8,0,0,80,8,0,0,2012-02-12,2012-02-12,2012-04-08,10426,10426,10426,10426