In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as sk

In [21]:
# import relavent data

artists = pd.DataFrame.from_csv('mode/mode_artists_left_join.csv',index_col=None)
wiki = pd.DataFrame.from_csv('wikipedia/DailyWikiStats_disambiguation_2010_15.csv',index_col=None)
npr = pd.DataFrame.from_csv('npr/npr_shows_from_billboard_2010_15.csv',index_col='show_id')
concerts = pd.DataFrame.from_csv('seatgeek/SeatGeek_events_from_billboard_2010_15.csv',index_col='id')
venues = pd.DataFrame.from_csv('seatgeek/SeatGeek_venues_from_billboard_2010_15.csv',index_col='id')
bill = pd.DataFrame.from_csv('billboard/BillboardData_mod_2000.csv',index_col='id')

In [28]:
print artists.keys()
artists.head()

Index([u'artist_name', u'artist_name_clean', u'artist_name_dash', u'artist_name_query', u'artist_name_underscore', u'sg_artist_id', u'event_count', u'genres', u'sg_type', u'sg_artist_score', u'nbs_id', u'mbz_id', u'mbz_type', u'isni_list', u'country', u'area', u'begin_area', u'life_span_begin', u'genre1', u'genre2', u'genre3', u'genre4', u'genre5'], dtype='object')

,artist_name,artist_name_clean,artist_name_dash,artist_name_query,artist_name_underscore,sg_artist_id,event_count,genres,sg_type,sg_artist_score,...,isni_list,country,area,begin_area,life_span_begin,genre1,genre2,genre3,genre4,genre5
0,Zach Sobiech,Zach Sobiech,zach-sobiech,zach+sobiech,zach_sobiech,160111,0,NaN,band,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Soulja Boy Tell'em,Soulja Boy Tell'em,soulja-boy-tell'em,soulja+boy+tell'em,soulja_boy_tell'em,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Austin Mahone,Austin Mahone,austin-mahone,austin+mahone,austin_mahone,12596,2,NaN,band,0.66274,...,NaN,US,United States,San Antonio,1996-04-04T00:00:00,RB,Pop,NaN,NaN,NaN
3,Britney Spears,Britney Spears,britney-spears,britney+spears,britney_spears,376,39,pop,band,0.68469,...,0000000109898265,US,United States,McComb,1981-12-02T00:00:00,Pop,NaN,NaN,NaN,NaN
4,Diggy,Diggy,diggy,diggy,diggy,28294,0,hip-hop,band,0.31305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
wiki.head()

,date,search_term,Artist,artist_name_clean_x,Language,PageViews,ambiguous
0,2010-01-01 00:00:00,the_1975,"1975, The",The 1975,en,0,False
1,2010-01-02 00:00:00,the_1975,"1975, The",The 1975,en,0,False
2,2010-01-03 00:00:00,the_1975,"1975, The",The 1975,en,0,False
3,2010-01-04 00:00:00,the_1975,"1975, The",The 1975,en,0,False
4,2010-01-05 00:00:00,the_1975,"1975, The",The 1975,en,0,False

In [42]:
npr.tail()

,artist,artist_id,title,show,storyDate,pubDate,lastModifiedDate,link
show_id,,,,,,,,
359406863,Annie Lennox,16219258,Annie Lennox On World Cafe,World Cafe,2014-10-28 14:53:00,2014-12-08 23:16:00,2014-12-08 23:16:52,http://www.npr.org/sections/world-cafe/2014/10...
357622310,Annie Lennox,16219258,'You Cannot Go Back': Annie Lennox On 'Nostalgia',Music Interviews,2014-10-21 06:00:00,2014-10-21 19:08:00,2014-10-21 19:08:33,http://www.npr.org/2014/10/20/357622310/you-ca...
132259127,Annie Lennox,16219258,Music Icon Annie Lennox Belts Songs Of Christm...,Holiday Music,2010-12-23 17:00:00,2010-12-23 20:05:00,2010-12-23 20:05:05,http://www.npr.org/2010/12/23/132259127/music-...
15963705,Annie Lennox,16219258,The Best CDs of 2003: Listeners' Picks,All Songs Considered,2003-12-23 17:00:00,2012-12-12 16:25:00,2012-12-12 16:25:21,http://www.npr.org/templates/story/story.php?s...
15111080,Kid Rock,15325309,Band of Horses to 'Begin' Again,Music Articles,2007-10-09 11:00:00,2012-12-12 16:20:00,2012-12-12 16:20:37,http://www.npr.org/templates/story/story.php?s...

In [31]:
print concerts.keys()
concerts.head()

Index([u'type', u'title', u'short_title', u'score', u'url', u'time_tbd', u'date_tbd', u'datetime_local', u'datetime_utc', u'created_at', u'query_performer', u'num_performers', u'performer_ids', u'performer_slugs', u'venue_id', u'venue_slug', u'listing_count', u'average_price', u'lowest_price_good_deals', u'lowest_price', u'highest_price'], dtype='object')

,type,title,short_title,score,url,time_tbd,date_tbd,datetime_local,datetime_utc,created_at,...,num_performers,performer_ids,performer_slugs,venue_id,venue_slug,listing_count,average_price,lowest_price_good_deals,lowest_price,highest_price
id,,,,,,,,,,,,,,,,,,,,,
2599027,concert,Katy Perry,Katy Perry,0.77610,https://seatgeek.com/katy-perry-tickets/lima-j...,True,False,2015-09-22T03:30:00,2015-09-22T08:30:00,2015-04-29T00:00:00,...,1,[1031],[1031],31784,jockey-club-del-peru,NaN,NaN,NaN,NaN,NaN
2590287,concert,Katy Perry,Katy Perry,0.77647,https://seatgeek.com/katy-perry-tickets/sao-pa...,False,False,2015-09-25T21:00:00,2015-09-26T00:00:00,2015-04-16T00:00:00,...,1,[1031],[1031],29937,allianz-parque-1,2,345.5,NaN,324,367
2658683,concert,Katy Perry,Katy Perry,0.77610,https://seatgeek.com/katy-perry-tickets/santia...,True,False,2015-10-06T03:30:00,2015-10-06T07:30:00,2015-06-24T00:00:00,...,1,[1031],[1031],9869,estadio-nacional,NaN,NaN,NaN,NaN,NaN
2599362,concert,Katy Perry,Katy Perry,0.77638,https://seatgeek.com/katy-perry-tickets/san-ju...,True,False,2015-10-12T03:30:00,2015-10-12T07:30:00,2015-04-29T00:00:00,...,1,[1031],[1031],7870,coliseo-de-puerto-rico,NaN,NaN,NaN,NaN,NaN
2367207,concert,Usher,Usher,0.70383,https://seatgeek.com/usher-tickets/vancouver-c...,False,False,2017-11-27T19:30:00,2017-11-28T03:30:00,2014-10-09T00:00:00,...,1,[1969],[1969],2983,rogers-arena,NaN,NaN,NaN,NaN,NaN

In [26]:
bill.head()

,year,yearly_rank,source,prefix,ch,x40,x10,pk,high,verified,...,x82nd_week,x83rd_week,x84th_week,x85th_week,x86th_week,x87th_week,x88th_week,x89th_week,x90th_week,x91st_week
id,,,,,,,,,,,,,,,,,,,,,
10112,2000,1,y,2000_001,28,25,17,11,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33870,2000,2,y,2000_002,26,24,18,10,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33975,2000,3,y,2000_003,33,28,17,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25621,2000,4,y,2000_004,24,22,12,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8017,2000,5,y,2000_005,21,16,8,4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# restrict billboard to anything entering starting 2010
bill2010 = bill[bill['date_entered'] > '2010-01-01']

In [60]:
# add npr artist id to artists
npr_artist_id = npr[['artist','artist_id']].drop_duplicates(subset=['artist_id'])
npr_artist_id = npr_artist_id.rename(columns = {'artist':'npr_artist','artist_id':'npr_artist_id'})
artists_npr = pd.merge(artists,npr_artist_id,how='left',left_on='artist_name_clean',
                      right_on='npr_artist')
artists = artists_npr

In [65]:
# aggregate number of concerts, npr shows

artist = artists.iloc[3]

a_concerts = concerts[concerts.query_performer == artist.sg_artist_id]
min(concerts.datetime_local)

# these are all future concerts ???

'2015-07-21T03:30:00'

In [ ]:
# aggregate wikipedia by date month

In [ ]:
# get relative date since last concert, npr show and date_entered / date_peaked / wikipedia date