Exploring the billboarddata.csv data set

Some of the times dont make sense (use different convention)? Some artists are numbered.

Dates are not in standard date-time format.

regex on index line
u
:'<,'>s/,\(\d\)/,x\1/g
:'<,'>s/\s/_/g

In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [2]:
billboard = pd.DataFrame.from_csv('BillboardData.csv',index_col=False)

billboard.head()

/Users/swahl/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (32,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,year,yearly_rank,source,prefix,ch,x40,x10,pk,high,verified,...,x82nd_week,x83rd_week,x84th_week,x85th_week,x86th_week,x87th_week,x88th_week,x89th_week,x90th_week,x91st_week
0,1997,165,a,1997_165,20,0,0,2,46,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,256,a,1985_256,13,0,0,1,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006,325,b,2006_325,1,0,0,1,89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,135,b,2005_135,20,7,0,1,32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,238,y,2003_238,9,0,0,1,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
billboard.iloc[265][:40]

year                                  1993
yearly_rank                             62
source                                   a
prefix                            1993_062
ch                                      25
x40                                     16
x10                                      0
pk                                       1
high                                    11
verified                               NaN
artist                            95 South
artist_standardized               95 South
artist_inverted                   95 South
featured                               NaN
unfeatured                             NaN
album                      Quad City Knock
b-side                           (Ultimix)
track                  Whoot, There It Is
time                                  7:03
time_source                            NaN
explicit                               NaN
time_(album)                           NaN
artist_id                              NaN
symbl                                  NaN
reissue                                NaN
label/number                  Wrap/Toy 162
media                                   CS
stereo_(55-68)                          --
pic_sleeve                             NaN
genre                                  Rap
comments                               NaN
written_by                         McGowan
temp_1                                1734
date_entered                        5/1/93
date_peaked                        8/14/93
x1st_week                               89
x2nd_week                               82
x3rd_week                               67
x4th_week                               58
x5th_week                               54
Name: 265, dtype: object

In [4]:
cols = billboard.keys()
cols

Index([u'year', u'yearly_rank', u'source', u'prefix', u'ch', u'x40', u'x10', u'pk', u'high', u'verified', u'artist', u'artist_standardized', u'artist_inverted', u'featured', u'unfeatured', u'album', u'b-side', u'track', u'time', u'time_source', u'explicit', u'time_(album)', u'artist_id', u'symbl', u'reissue', u'label/number', u'media', u'stereo_(55-68)', u'pic_sleeve', u'genre', u'comments', u'written_by', u'temp_1', u'date_entered', u'date_peaked', u'x1st_week', u'x2nd_week', u'x3rd_week', u'x4th_week', u'x5th_week', u'x6th_week', u'x7th_week', u'x8th_week', u'x9th_week', u'x10th_week', u'x11th_week', u'x12th_week', u'x13th_week', u'x14th_week', u'x15th_week', u'x16th_week', u'x17th_week', u'x18th_week', u'x19th_week', u'x20th_week', u'x21st_week', u'x22nd_week', u'x23rd_week', u'x24th_week', u'x25th_week', u'x26th_week', u'x27th_week', u'x28th_week', u'x29th_week', u'x30th_week', u'x31st_week', u'x32nd_week', u'x33rd_week', u'x34th_week', u'x35th_week', u'x36th_week', u'x37th_week', u'x38th_week', u'x39th_week', u'x40th_week', u'x41st_week', u'x42nd_week', u'x43rd_week', u'x44th_week', u'x45th_week', u'x46th_week', u'x47th_week', u'x48th_week', u'x49th_week', u'x50th_week', u'x51st_week', u'x52nd_week', u'x53rd_week', u'x54th_week', u'x55th_week', u'x56th_week', u'x57th_week', u'x58th_week', u'x59th_week', u'x60th_week', u'x61st_week', u'x62nd_week', u'x63rd_week', u'x64th_week', u'x65th_week', ...], dtype='object')

In [5]:
for col in cols:
    if billboard[col].dtype == np.dtype('O'):
        billboard[col] = billboard[col].str.decode('iso-8859-1').str.encode('utf-8')

In [6]:
billboard.to_csv('BillboardData_mod.csv',index_label='id',encoding="utf-8")

In [7]:
billboard

,year,yearly_rank,source,prefix,ch,x40,x10,pk,high,verified,...,x82nd_week,x83rd_week,x84th_week,x85th_week,x86th_week,x87th_week,x88th_week,x89th_week,x90th_week,x91st_week
0,1997,165,a,1997_165,20,0,0,2,46,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,256,a,1985_256,13,0,0,1,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006,325,b,2006_325,1,0,0,1,89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,135,b,2005_135,20,7,0,1,32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,238,y,2003_238,9,0,0,1,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2003,248,y,2003_248,6,0,0,2,75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2001,31,y,2001_031,29,25,8,2,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2001,43,y,2001_043,20,8,3,1,6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2001,160,y,2001_160,20,2,0,1,39,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1999,82,a,1999_082,25,18,0,1,15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1998,81,a,1998_081,16,13,0,2,17,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1997,68,a,1997_068,28,24,0,1,13,t,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1997,119,a,1997_119,20,6,0,3,33,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1996,65,a,1996_065,28,23,0,2,13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2004,206,y,2004_206,20,0,0,1,59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1999,32,a,1999_032,42,38,19,1,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1997,53,a,1997_053,20,17,1,1,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1997,129,a,1997_129,12,4,0,2,35,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1996,121,a,1996_121,20,6,0,2,32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1982,320,a,1982_320,6,0,0,2,62,p,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1980,292,a,1980_292,9,0,0,2,52,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1989,392,a,1989_392,1,0,0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1966,19,a,1966_019,15,12,9,1,1,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1967,720,a,1967_720,2,0,0,1,98,p,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1967,414,a,1967_414,6,0,0,1,56,p,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1966,206,a,1966_206,10,6,0,2,22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1991,183,a,1991_183,15,4,0,1,33,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1989,300,a,1989_300,7,0,0,1,67,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1988,295,a,1988_295,8,0,0,1,67,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1987,219,a,1987_219,11,0,0,1,41,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40104,2014,355,h,2014-355,31,23,0,1,13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40105,2014,356,h,2014-356,34,12,0,1,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40106,2014,357,h,2014-357,38,27,14,3,6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40107,2014,358,h,2014-358,21,6,0,1,35,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40108,2014,360,h,2014-360,18,10,0,1,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40109,2014,362,h,2014-362,39,34,17,3,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40110,2014,364,h,2014-364,20,0,0,1,47,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40111,2014,367,h,2014-367,20,5,0,2,28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40112,2014,368,h,2014-368,20,12,0,1,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40113,2014,374,h,2014-374,20,0,0,1,46,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40114,2014,375,h,2014-375,36,27,0,2,11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40115,2014,378,h,2014-378,13,0,0,1,56,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40116,2014,379,h,2014-379,18,8,0,2,30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40117,2014,380,h,2014-380,20,0,0,1,62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40118,2014,383,h,2014-383,20,1,0,1,38,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40119,2014,384,h,2014-384,33,28,9,5,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40120,2014,386,h,2014-386,20,3,0,1,38,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40121,2014,387,h,2014-387,2,0,0,1,88,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40122,2014,388,h,2014-388,8,0,0,1,71,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40123,2014,391,h,2014-391,23,16,0,3,16,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40124,2014,395,h,2014-395,2,0,0,1,48,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40125,2014,396,h,2014-396,20,0,0,1,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40126,2014,402,h,2014-402,3,0,0,1,78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40127,2014,403,h,2014-403,5,0,0,1,93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40128,2014,404,h,2014-404,20,0,0,3,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40129,2014,405,h,2014-405,20,18,5,1,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40130,2014,406,h,2014-406,20,18,8,1,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40131,2014,407,h,2014-407,1,0,0,1,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40132,2014,408,h,2014-408,1,0,0,1,50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40133,2014,409,h,2014-409,1,0,0,1,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
billboard.year.dtype

dtype('int64')

In [9]:
billboard.artist.dtype

dtype('O')

In [10]:
billboard.artist = billboard.artist.astype(str)
billboard.artist.dtype

dtype('O')

In [11]:
billboard.artist

0       4
1     9.9
2      44
3     112
4     112
5     112
6     112
7     112
8     112
9     112
10    112
11    112
12    112
13    112
14    311
...
40119                         Matt McAndrew
40120                         One Direction
40121                   James Newton Howard
40122                               Beyonce
40123                      Craig Wayne Boyd
40124                            Ed Sheeran
40125                         Matt McAndrew
40126                  Taylor John Williams
40127                      Craig Wayne Boyd
40128                               J. Cole
40129                         Matt McAndrew
40130                             Sam Smith
40131    White Buffalo & The Forest Rangers
40132                               J. Cole
40133                         Chris Jamison
Name: artist, Length: 40134, dtype: object

In [12]:
billboard.time.dtype

dtype('O')

In [13]:
billboard.time

0     4:13
1     3:31
2     3:19
3     3:20
4     3:41
5     4:51
6     3:53
7     4:25
8     4:15
9     4:03
10    4:15
11    4:06
12    4:20
13    4:17
14    3:25
...
40119    0.147222222
40120    0.148611111
40121    0.151388889
40122    0.147916667
40123    0.129861111
40124    0.279166667
40125    0.138194444
40126    0.144444444
40127    0.123611111
40128    0.165972222
40129           0.15
40130    0.118055556
40131    0.311111111
40132    0.202777778
40133    0.128472222
Name: time, Length: 40134, dtype: object

In [14]:
billboard['date_entered'].dtype

dtype('O')

In [15]:
billboard['date_entered'][39000]

'6/6/87'

In [16]:
billboard.date_entered = pd.to_datetime(billboard.date_entered)
billboard.date_peaked = pd.to_datetime(billboard.date_peaked)

In [17]:
(billboard.date_entered < '2016-01-01')

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12     True
13    False
14    False
...
40119    False
40120    False
40121    False
40122    False
40123    False
40124    False
40125    False
40126    False
40127    False
40128    False
40129    False
40130    False
40131    False
40132    False
40133    False
Name: date_entered, Length: 40134, dtype: bool

In [18]:
billboard.date_entered

0      8/23/97
1      8/24/85
2      12/2/06
3       3/5/05
4     10/18/03
5       8/9/03
6      4/14/01
7      12/9/00
8      9/15/01
9      3/20/99
10    10/24/98
11      3/1/97
12     11/9/96
13      6/1/96
14      5/1/04
...
40119    41979
40120    41979
40121    41986
40122    41986
40123    41986
40124    41993
40125    41993
40126    41993
40127    42000
40128    42000
40129    42000
40130    42000
40131    42000
40132    42000
40133    42000
Name: date_entered, Length: 40134, dtype: object